.upload-zone {
    position: relative;
    border: 2px dashed var(--bs-primary);
    background: rgba(var(--bs-primary-rgb), .08);
    cursor: pointer;
    transition: .25s;
    min-height: 240px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.upload-zone:hover {
    background: rgba(var(--bs-primary-rgb), .02);
    border-color: var(--bs-primary);
}

.upload-zone label {
    cursor: pointer;
    width: 100%;
    margin: 0;
}

.card {
    border-radius: 1rem;
}

@media (max-width: 768px) {
    .upload-zone {
        min-height: 180px;
        padding: 2rem;
    }
}