<div class="upload-container">
    <h2 class="m-0 mb-5">Upload File</h2>

    <ng-container *ngIf="!((uploadService.IsUploading$ | async) || MatProgressBar)">
        <div class="file-zone">
            <input type="file" id="fileInput" (change)="OnFileSelected($event)" />
            <label for="fileInput" class="file-label">
                {{ SelectedFile ? SelectedFile.name : 'Choose/Drag & drop any file...' }}
            </label>
        </div>

        <div *ngIf="SelectedFile" class="actions mt-5">
            <p>File Size: {{ (SelectedFile.size / 1024 / 1024) | number:'1.2-2' }} MB</p>
            <button (click)="UploadFile()">
                Start Upload
            </button>
        </div>
    </ng-container>

    <div *ngIf="(uploadService.IsUploading$ | async) || MatProgressBar" class="progress-wrapper">
        <div class="uploading-filename">
            Uploading: <strong>{{ uploadService.ActiveFileName$ | async }}</strong>
        </div>

        <div class="progress-track">
            <div class="progress-bar" [style.width.%]="uploadService.UploadProgress$ | async"></div>
        </div>
        <span class="progress-text">{{ uploadService.UploadProgress$ | async }}%</span>
    </div>
</div>